.newsletter-p {
  font-family: "Lato", sans-serif;
  color: #343637;
  margin-bottom: 30px;
  font-size: 1rem;
  text-align: center;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 970px;
  margin: 0 auto;
  width: 100%;
}

Portfolio.newsletter-form input {
  padding: 12px 20px;
  border-radius: 999px;
  border: 1px solid #78746e;
  font-family: "Lato", sans-serif;
  width: 250px;
  box-sizing: border-box;
}

.newsletter-form label {
  font-family: "Lato", sans-serif;
  color: #343637;
  font-size: 1rem;
  text-align: center;
}

.newsletter-form button {
  padding: 12px 25px;
  border-radius: 999px;
  border: none;
  background: #343637;
  color: #ccd5d9;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  transition: 0.2s ease;
}

.newsletter-form button:hover {
  color: #bb884b;
  transform: translateY(-2px);
}
