.todo-list {
  list-style: none;
  padding: 0;
  margin: auto;
  max-width: 970px;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  color: #343637;
  line-height: 2.2;
}

.todo-title {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  color: #343637;
  line-height: 2.2;
  font-weight: 700;
}

.todo-list li {
  width: 85%;
  margin: auto;
  padding: 15px;
}
